bgColor = #FFF // 定义背景色
btnBgColor = #00CCFF // 定义hover激活色
btnColor = #FFF // 定义hover激活色

fontTitleColor = #333333 // 定义重色字体颜色（导航类）
fontTextColor = #666666 // 定义中色颜色（正文）
fontMiniFontColor = #999999 // 定义轻色颜色（用于提示，小tip）
fontMinFontColor = #1E93FF // 定义亮色颜色（用于提示，文字选择按钮）
deleteColor = #FF4C4C //定义删除颜色
deleteColor = #FF4C4C //定义删除颜色
readColor = #00CCFF //定义发布颜色
readTrueColor = #999999 //定义已发布颜色


fontMinSize = 0.3rem //定义小号字体
fontMedSize = 0.4rem //定义中号字体
fontBigSize = 0.48rem //定义大号字体
fontBigBigSize = 0.58rem //定义大号字体