<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.AimMajorMapper">

    <select id="queryAimMajorInfo" resultType="com.educiot.recruit.data.entity.AimMajor" parameterType="java.lang.Long">
        SELECT
            m.aim_major_id,
            m.is_adjust,
            m.`level`,
            m.major_id,
            m.student_public_relation_id
        FROM
            e_r_aim_major m
        LEFT JOIN e_r_student_public_relation pr ON m.student_public_relation_id = pr.student_public_relation_id
        WHERE
            pr.student_info = #{studentInfoId} and pr.recruit_school_id=#{schoolId}
    </select>

</mapper>
