<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.ChargerMapper">

    <!-- 查询指定分组下的负责人信息 -->
    <select id="getByApiId" resultType="com.educiot.recruit.data.entity.ext.ChargerExt">
        <![CDATA[
          SELECT gi.semester_id ,c.charger_id,c.group_id,c.name,c.account,c.telephone,c.status,c.is_leader,c.api_id FROM e_r_charger c
                left join e_r_group  g on c.group_id = g.group_id
                left join e_r_group_info  gi on g.group_info_id = gi.group_info_id
                WHERE (c.api_id = #{apiId} AND c.status =#{status})
                and gi.semester_id = #{semesterId}
        ]]>
    </select>

    <select id="listChargerByGroupId" resultType="com.educiot.recruit.data.entity.vo.ChargerVO">
       SELECT
        c.charger_id,
        c.account,
        c.`name`,
        c.telephone,
        c.is_leader,
        c.api_id
        FROM
	    e_r_charger c
        WHERE
            c.`status` = 1
        AND c.group_id = #{groupId}
    </select>

    <select id="getAllChargerList" resultType="com.educiot.recruit.data.entity.Charger">
        SELECT
            c.*
        FROM
            e_r_charger c
        LEFT JOIN e_r_group g on c.group_id = g.group_id
        LEFT JOIN e_r_group_info gi on g.group_info_id = gi.group_info_id
        where gi.semester_id = #{semesterId}
        AND c.`status` = 1
    </select>

    <select id="getChargerCount" resultType="int">
        SELECT
            COUNT(1)
        FROM
            e_r_charger c
        LEFT JOIN e_r_group g ON c.group_id = g.group_id
        LEFT JOIN e_r_group_info gi ON g.group_info_id = gi.group_info_id
        WHERE
            c.api_id = #{apiId}
        AND gi.semester_id = #{semesterId}
        AND c.`status` = 1
    </select>
</mapper>
