<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.CollegeMapper">

    <resultMap id="CollegeAndMajorVOMap" type="com.educiot.recruit.data.entity.vo.CollegeAndMajorVO">
        <id column="college_id" property="collegeId"/>
        <result column="api_id" property="apiId"/>
        <result column="college_name" property="collegeName"/>
        <collection column="{collegeId=college_id}" property="majors" ofType="com.educiot.recruit.data.entity.Major" select="selectMajor"/>
    </resultMap>

    <resultMap id="MajorMap" type="com.educiot.recruit.data.entity.vo.MajorVO">
        <id column="major_id" property="majorId"/>
        <result column="college_id" property="collegeId"/>
        <result column="api_id" property="apiId"/>
        <result column="major_name" property="majorName"/>
        <result column="api_major_name" property="apiMajorName"/>
    </resultMap>

    <select id="queryCollegeAndMajor" resultMap="CollegeAndMajorVOMap">
       SELECT
            c.college_id,
            c.api_id,
            c.college_name
        FROM
            e_r_college c
        WHERE
            c.plan_id = #{planId}
    </select>

    <select id="selectMajor" resultMap="MajorMap">
        SELECT
            m.major_id,
            m.api_id,
            m.college_id,
            m.major_name,
            m.api_major_name,
            m.recruit_amount,
            m.fee,
            m.major_type,
            m.career_forward,
            m.main_course,
            m.`comment`,
            m.cultivate_aim
        FROM
            e_r_major m
        WHERE
            m.college_id = #{collegeId}
    </select>

    <select id="queryMajorAmount" resultType="java.lang.Integer">
        SELECT
            COUNT(am.aim_major_id)
        FROM
            e_r_aim_major am
        LEFT JOIN e_r_student_public_relation spr ON am.student_public_relation_id = spr.student_public_relation_id
        WHERE
            am.major_id = #{majorId}
        AND spr.recruit_school_id = #{recruitSchoolId}
        AND spr.semester_id = #{semesterId}
        AND (
            spr.register_status = 0
            OR spr.register_status = 1
            OR spr.register_status = 4
        )
    </select>
</mapper>
