<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.ConsultationMapper">


    <select id="queryAllConsultation" resultType="com.educiot.recruit.data.entity.Consultation" parameterType="java.lang.Long">
        SELECT
            c.address,
            c.consultation_id,
            c.create_time,
            c.creator_id,
            c.creator_name,
            c.daily_receptionist_id,
            c.daily_receptionist_name,
            c.end_time,
            c.`schedule`,
            c.semester,
            c.semester_id,
            c.start_time,
            c.telephone
        FROM
            e_r_consultation c
            LEFT JOIN e_r_plan p ON p.semester_id = c.semester_id
        WHERE
            p.recruit_school_id = #{recruitSchoolId}
            AND p.`status` =2
    </select>

</mapper>
