<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.GroupInfoMapper">

    <!-- 分页获取招生区域列表（指定招生学校下的） -->
    <select id="listGroupInfoPage" resultType="com.educiot.recruit.data.entity.vo.ListGroupInfoPageVO">
        SELECT
            gi.group_info_id,
            gi.semester,
            gi.title,
            gi.`comment`,
            gi.creator_name,
            gi.create_time,
            gi.semester_id
        FROM
            e_r_group_info gi
        WHERE
            gi.recruit_school_id = #{recruitSchoolId}
        ORDER BY
            gi.create_time DESC
    </select>

</mapper>
