<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.InSchoolMapper">

    <resultMap id="InSchoolMap" type="com.educiot.recruit.data.entity.vo.InSchoolVO">
        <id column="in_school_id" property="inSchoolId"/>
        <result column="student_info" property="studentInfo"/>
        <result column="school_no" property="schoolNo"/>
        <result column="talent" property="talent"/>
        <result column="source_school_name" property="sourceSchoolName"/>
        <result column="source_school_id" property="sourceSchoolId"/>
        <result column="class_name" property="className"/>
        <result column="class_id" property="classId"/>
        <result column="adviser" property="adviser"/>
        <result column="student_public_relation_id" property="studentPublicRelationId"/>
        <collection column="{inSchoolId=in_school_id}" property="scores" ofType="com.educiot.recruit.data.entity.Score" select="selectScore"/>
    </resultMap>

    <resultMap id="ScoreMap" type="com.educiot.recruit.data.entity.Score">
        <id column="score_id" property="scoreId"/>
        <result column="in_school_id" property="inSchoolId"/>
        <result column="course" property="course"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="queryInSchoolInfo" resultMap="InSchoolMap">
        SELECT
            sc.in_school_id,
            sc.student_info,
        ss.source_school_name,
        ss.source_school_id,
        c.class_name,pr.class_id,
        sc.school_no,
        c.adviser,
        sc.talent,
        pr.student_public_relation_id
        FROM
        e_r_in_school sc
        LEFT JOIN e_r_student_public_relation pr ON sc.student_info = pr.student_info
        LEFT JOIN e_r_class c ON pr.class_id = c.class_id
        LEFT JOIN e_r_source_school ss ON pr.source_school_id = ss.source_school_id
        WHERE
        sc.student_info = #{studentInfoId}
        <if test='recruitSchoolId != null and recruitSchoolId != ""'>
            and pr.recruit_school_id =#{recruitSchoolId}
        </if>
    </select>

    <select id="selectScore" resultMap="ScoreMap">
        SELECT
            s.score_id,
            s.in_school_id,
            s.course,
            s.score
        FROM
            e_r_score s
        where s.in_school_id=#{inSchoolId}
    </select>

    <select id="getSourceSchoolInfo" resultType="com.educiot.recruit.data.entity.vo.InSchoolClassInfoVO">
        SELECT
            ss.source_school_name,
            ss.source_school_id,
            c.class_name,
            pr.class_id,
            c.adviser,
            pr.student_public_relation_id
        FROM
            e_r_student_public_relation pr
        LEFT JOIN e_r_class c ON pr.class_id = c.class_id
        LEFT JOIN e_r_source_school ss ON pr.source_school_id = ss.source_school_id
        WHERE
            pr.student_info = #{studentInfoId}
        <if test='recruitSchoolId != null and recruitSchoolId != ""'>
            and pr.recruit_school_id =#{recruitSchoolId}
        </if>
    </select>
</mapper>
