<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.LoginRelationMapper">

    <select id="selectListByLoginAndMobile" resultType="com.educiot.recruit.data.entity.LoginRelation">
        SELECT DISTINCT * FROM (
  SELECT lr.* FROM e_r_login_relation lr WHERE lr.login = #{login}
  UNION ALL
  SELECT lr.* FROM e_r_login_relation lr LEFT JOIN e_r_login l ON  lr.login = l.login  WHERE l.mobile IN (SELECT mobile FROM e_r_login WHERE login= #{login})
  )a
    </select>


    <select id="listFocusStudent" resultType="com.educiot.recruit.data.entity.vo.StudentIdAndNameVO">
       SELECT b.*,si.`student_name` FROM (SELECT DISTINCT
  *
FROM
  (SELECT
    lr.*
  FROM
    e_r_login_relation lr
  WHERE lr.login = #{login}
  UNION
  ALL
  SELECT
    lr.*
  FROM
    e_r_login_relation lr
    LEFT JOIN e_r_login l
      ON lr.login = l.login
  WHERE l.mobile IN
    (SELECT
      mobile
    FROM
        e_r_login
    WHERE login = #{login})) a GROUP BY student_info,
        a.login_relation_id,
        a.login)b LEFT JOIN e_r_student_info si ON b.student_info = si.`student_info`
    </select>
  
  <select id="queryLoginType" resultType="java.lang.Integer" parameterType="java.lang.Long">
    SELECT
        l.login_type
    FROM
        e_r_login_relation lr
        LEFT JOIN e_r_login l ON l.login = lr.login
    WHERE
        lr.student_info = #{studentInfo}
        limit 1
  </select>
  
</mapper>
