<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.MajorMapper">

    <select id="queryMajorInfoByMajorId" parameterType="java.lang.String" resultType="com.educiot.recruit.data.entity.vo.MajorVO">
       SELECT
            r.college_name,
            m.major_id,
            m.college_id,
            m.api_id,
            m.major_name,
            m.api_major_name,
            m.recruit_amount,
            m.fee,
            m.major_type,
            m.cultivate_aim,
            m.main_course,
            m.career_forward,
            m. COMMENT,
            m.recruit_amount
        FROM
            e_r_major m
        LEFT JOIN e_r_college r ON r.college_id = m.college_id
        WHERE
            m.major_id =#{majorId}
    </select>


    <select id="queryAmountCountByCollegeId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select SUM(m.recruit_amount)  from e_r_major m where m.college_id=#{collegeId}
    </select>

    <select id="queryTargetAmount" resultType="java.lang.Integer">
        SELECT
            td.target_amount
        FROM
            e_r_target t
        LEFT JOIN e_r_target_decomposition td ON t.target_id = td.target_id
        WHERE
            t.semester_id = #{semesterId}
        AND t.recruit_school_id = #{recruitSchoolId}
        AND td.node_id = #{nodeId}
    </select>

</mapper>
