<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.NewsMapper">

    <sql id="selectNewsBase">
         SELECT
        t1.news_id,
        t1.title,
        t1.message_type,
        t2.data_value AS messageTypeName,
        t1.recevier,
        t1.belong_plan,
        t1.message_content,
        t1.recruit_school_id,
        t1.plan_id,
        IF(t1.plan_id=0,'全部',t3.title)AS planName,
        t1.news_status,
        t1.creator_id,
        t1.creator_name,
        t1.create_time
        FROM e_r_news t1
        LEFT JOIN e_r_plan t3 ON t1.plan_id=t3.plan_id
    </sql>

    <select id="getNewsListPage" resultType="com.educiot.recruit.data.entity.vo.NewsVO">
        <include refid="selectNewsBase"/>
        LEFT JOIN e_r_sys_dictionary t2 ON t1.message_type=t2.data_code AND  t2.recruit_school_id=#{recruitSchoolId}
        WHERE 1=1
        <if test="newsParam.messageType!=null and newsParam.messageType!=''">
         AND t1.message_type=#{newsParam.messageType}
        </if>
        <if test="newsParam.recevier!=null and newsParam.recevier==0">
            AND (t1.recevier=1 or t1.recevier = 0)
        </if>
        <if test="newsParam.recevier!=null and newsParam.recevier==1">
            AND (t1.recevier=2 or t1.recevier = 0)
        </if>
        <if test="newsParam.belongPlan!=null and newsParam.belongPlan!=0">
            AND t1.plan_id=#{newsParam.belongPlan}
        </if>
        <if test="newsParam.title!=null">
            AND t1.title LIKE #{newsParam.title}
        </if>
        AND t1.recruit_school_id = #{recruitSchoolId} AND t1.news_status = 1
        ORDER BY
            create_time DESC
    </select>

    <select id="getNewsByNewsId" resultType="com.educiot.recruit.data.entity.vo.NewsVO">
        <include refid="selectNewsBase"/>
        LEFT JOIN e_r_sys_dictionary t2 ON t1.message_type=t2.data_code AND  t2.recruit_school_id=#{recruitSchoolId}
        WHERE 1=1
        AND t1.news_id=#{newsId}
    </select>
    
    <select id="getMessageList" resultType="com.educiot.recruit.data.entity.vo.MessageListVO">
        SELECT
            create_time,
            message_content,
            0 as messageType,
            news_id,
            title
        FROM
            e_r_news
        WHERE
            recruit_school_id = #{recruitSchoolId}

        AND news_status = 1
        <if test="loginType != null and loginType == 0">
            AND recevier in (0, 1)
        </if>
        <if test="loginType != null and loginType == 1">
            AND recevier in (0, 2)
        </if>
    </select>

    <select id="getNewsListPageServer" resultType="com.educiot.recruit.data.entity.vo.NewsVO">
        <include refid="selectNewsBase"/>
        LEFT JOIN e_r_sys_dictionary t2 ON t1.message_type=t2.data_code AND  t2.recruit_school_id=#{recruitSchoolId}
        WHERE 1=1
        <if test="newsParam.messageType!=null and newsParam.messageType!=''">
            AND t1.message_type=#{newsParam.messageType}
        </if>
        <if test="newsParam.recevier!=null and newsParam.recevier==1">
            AND (t1.recevier=1 or t1.recevier = 0)
        </if>
        <if test="newsParam.recevier!=null and newsParam.recevier==2">
            AND (t1.recevier=2 or t1.recevier = 0)
        </if>
        <if test="newsParam.belongPlan!=null and newsParam.belongPlan!=0">
            AND t1.plan_id=#{newsParam.belongPlan}
        </if>
        <if test="newsParam.title!=null">
            AND t1.title LIKE #{newsParam.title}
        </if>
        AND t1.recruit_school_id = #{recruitSchoolId}
        ORDER BY
        create_time DESC
    </select>
</mapper>
