<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.PlanRecruitInfoMapper">
    <select id="queryPlanRecruitInfoByPlanId" resultType="com.educiot.recruit.data.entity.vo.PlanRecruitInfoVO">
  SELECT * FROM e_r_plan_recruit_info pri  WHERE pri.plan_id = #{planId}
    </select>
</mapper>
