<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.PlanMapper">

    <!--分页查询计划列表信息-->
    <select id="listPlanPage" resultType="com.educiot.recruit.data.entity.Plan"
            parameterType="com.educiot.recruit.data.entity.query.ListPlanPageQuery">
        select
        p.plan_id,
        p.recruit_school_id,
        p.season,
        p.semester,
        p.title,
        p.charger_name,
        p.publisher_name,
        p.status,
        p.publish_time,
        p.is_defaulted,
        p.create_time,
        p.creator_name
        from
        e_r_plan p
        where
        p.status != 0 and p.recruit_school_id=#{param.recruitSchoolId}
        <if test='param.semester!=null and param.semester!=""'>
            and p.semester like CONCAT('%',#{param.semester},'%')
        </if>
        <if test='param.title!=null and param.title!=""'>
            and p.title like CONCAT('%',#{param.title},'%')
        </if>
        order by p.semester_start DESC
    </select>
    <select id="queryDefaultPlanInfo" resultType="com.educiot.recruit.data.entity.vo.PlanIDAndNameVO">
        SELECT
            pl.plan_id,
            pl.recruit_school_id,
            pl.season,
            pl.semester,
            pl.start_time,
            pl.end_time,
            pl.charger_id,
            pl.title,
            pl.charger_name,
            pl.telephone_number,
            pl.publisher_name,
            pl.status,
            pl.publish_time,
            pl.is_defaulted,
            pl.create_time,
            pl.creator_name,
            pl.semester_id
        FROM

            e_r_plan pl
        WHERE
            pl.recruit_school_id = #{recruitSchoolId} and pl.STATUS = 2
            AND pl.semester_start = ( SELECT MAX( p.semester_start ) FROM e_r_plan p WHERE p.recruit_school_id = #{recruitSchoolId}  AND p.STATUS = 2 )
    </select>

    <select id="queryDefaultPlanInfoWeChat" resultType="com.educiot.recruit.data.entity.vo.PlanIDAndNameVO">
        SELECT
            pl.plan_id,
            pl.recruit_school_id,
            pl.season,
            pl.semester,
            pl.start_time,
            pl.end_time,
            pl.charger_id,
            pl.title,
            pl.charger_name,
            pl.telephone_number,
            pl.publisher_name,
            pl.status,
            pl.publish_time,
            pl.is_defaulted,
            pl.create_time,
            pl.creator_name,
            pl.semester_id
        FROM

            e_r_plan pl
        WHERE
            pl.recruit_school_id = #{recruitSchoolId} and (pl.STATUS = 2 or pl.STATUS=3)
            AND pl.semester_start = ( SELECT MAX( p.semester_start ) FROM e_r_plan p WHERE p.recruit_school_id = #{recruitSchoolId}  AND (p.STATUS = 2 or p.STATUS=3) )
    </select>

    <select id="queryPlanInfo" resultType="com.educiot.recruit.data.entity.vo.PlanVO" parameterType="java.lang.Long">
        SELECT
            p.plan_id,
            p.recruit_school_id,
            p.season,
            p.semester,
            p.start_time,
            p.end_time,
            p.charger_id,
            p.title,
            p.charger_name,
            p.telephone_number,
            p.comment,
            p.publisher_name,
            p. STATUS,
            p.publish_time,
            p.is_defaulted,
            p.create_time,
            p.creator_name,
            r.plan_recruit_info_id,
            s.plan_school_introduction_id,
            p.semester_id
        FROM
            e_r_plan p
        LEFT JOIN e_r_plan_recruit_info r ON r.plan_id = p.plan_id
        LEFT JOIN e_r_plan_school_introduction s ON s.plan_id = p.plan_id
        where p.plan_id=#{planId}
    </select>

    <select id="queryChargerBySemesterId" resultType="com.educiot.recruit.data.entity.vo.ChargerVO"
            parameterType="java.lang.Long">
        SELECT
            c.charger_id,
            c.`name`
        FROM
            e_r_group_info gi
        LEFT JOIN e_r_group g ON gi.group_info_id = g.group_info_id
        LEFT JOIN e_r_charger c ON g.group_id = c.group_id
        WHERE
            gi.recruit_school_id = #{recruitSchoolId}
        AND gi.semester_id = #{semesterId}
        AND c.`status` = 1
    </select>
    
    <select id="queryChargerIdByPlanId" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT
            p.charger_id
        FROM
            e_r_plan p
        WHERE
            p.plan_id = #{planId}
    </select>

</mapper>
