<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.PlanSchoolIntroductionMapper">

    <!-- 【小程序】 根据选择的学生查询其下的招生学校 -->
    <select id="listRecruitSchoolByStudent" resultType="com.educiot.recruit.data.entity.vo.RecruitSchoolVO">
        SELECT
	*
FROM
	(
		SELECT
			rs.recruit_school_id,
			psi.recruit_school_name,
			psi.recruit_school_logo,
			p.create_time,
			rs.api_id,
			psi.address
		FROM
			e_r_student_public_relation spr
		LEFT JOIN e_r_recruit_school rs ON rs.recruit_school_id = spr.recruit_school_id
		LEFT JOIN e_r_plan p ON rs.`recruit_school_id` = p.`recruit_school_id`
		LEFT JOIN e_r_plan_school_introduction psi ON p.`plan_id` = psi.`plan_id`
		WHERE
			rs.is_deleted = 1
		AND p.semester_start IN (
			SELECT
				MAX(pl.semester_start)
			FROM
				e_r_student_public_relation spr
			LEFT JOIN e_r_recruit_school rs ON rs.recruit_school_id = spr.recruit_school_id
			LEFT JOIN e_r_plan pl ON rs.`recruit_school_id` = pl.`recruit_school_id`
			LEFT JOIN e_r_plan_school_introduction psi ON pl.`plan_id` = psi.`plan_id`
			WHERE
				spr.student_info = #{studentInfo}
			AND (pl.`status` = 2 or pl.`status` = 3)
			AND rs.is_deleted = 1
			GROUP BY
				pl.recruit_school_id
		)
		AND (p.`status` = 2 or p.`status` = 3)
		AND spr.student_info = #{studentInfo}
	) a
ORDER BY
	a.create_time DESC

    </select>
    <select id ="getByRecruitSchoolId" resultType="com.educiot.recruit.data.entity.ext.PlanSchoolIntroductionExt">
    SELECT DISTINCT
		psi.*
	FROM
		e_r_student_public_relation spr
		LEFT JOIN e_r_recruit_school rs ON rs.recruit_school_id = spr.recruit_school_id
		LEFT JOIN e_r_plan p ON rs.`recruit_school_id` = p.`recruit_school_id`
		LEFT JOIN e_r_plan_school_introduction psi ON p.`plan_id` = psi.`plan_id`
	WHERE
		rs.is_deleted = 1
		AND p.semester_start = ( SELECT MAX( pl.semester_start ) FROM e_r_plan pl WHERE (pl.`status` = 2 or pl.`status`=3) AND pl.recruit_school_id = #{recruitSchoolId})
		AND (p.`status` = 2 or p.`status`=3)
		AND p.recruit_school_id = #{recruitSchoolId}
 </select>
</mapper>
