<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.ReportDataAnalysisMapper">

    <select id="queryAllPublishPlanAPP" resultType="com.educiot.recruit.data.entity.vo.PlanReportVO">
        SELECT
            p.plan_id,
            p.recruit_school_id,
            p.semester,
            p.semester_id,
            p.title,
            p.charger_id,
            p.charger_name,
            p.`status`,
            c.group_id
        FROM
            e_r_plan p
            LEFT JOIN e_r_charger c ON p.charger_id = c.charger_id
            where p.recruit_school_id=#{recruitSchoolId}
            And (p.`status`= 2 or p.`status`= 3)
        ORDER BY
	        p.semester_start DESC
    </select>

    <select id="enrollmentProgress" parameterType="java.lang.Long"
            resultType="com.educiot.recruit.data.entity.vo.ReportVO">
        SELECT
            SUM(

            IF (
            pr.register_status = 1
            OR pr.register_status = 0
            OR pr.register_status = 0
            or pr.register_status = 4,
            1,
            0
            )
            ) AS numberCompletions,
            <if test='groupId != null and groupId != ""'>
                ( SELECT g.target_amount FROM e_r_group g WHERE g.group_id = #{groupId} ) AS planAllNumber
            </if>
            <if test='groupId == null or groupId == ""'>
                ( SELECT t.target_amount FROM e_r_target t WHERE t.semester_id = #{semesterId} ) AS planAllNumber
            </if>
            FROM
            e_r_student_public_relation pr
            WHERE
             pr.recruit_school_id = #{recruitSchoolId}
            AND pr.semester_id = #{semesterId}
            <if test='groupId != null and groupId != ""'>
                AND pr.group_id=#{groupId}
            </if>
    </select>


    <select id="regionalAdmissionsProgress" parameterType="java.lang.Long"
            resultType="com.educiot.recruit.data.entity.vo.RegionalAdmissionsProgressVO">
        SELECT
            g.group_id AS groupId,
            g.`name` AS groupName,
            g.target_amount AS targetAmount
        FROM
            e_r_group_info gi
        LEFT JOIN e_r_group g ON g.group_info_id = gi.group_info_id
        WHERE
            gi.recruit_school_id = #{recruitSchoolId}
        AND gi.semester_id = #{semesterId}
        AND g.status=1
    </select>

    <select id="regionalAdmissionsProgressStudentCount" resultType="java.lang.Integer">
        SELECT
            SUM(

                IF (
                    pr.register_status = 1
                    OR pr.register_status = 0
                    or pr.register_status = 4,
                    1,
                    0
                )
            ) AS actualNumber
        FROM
            e_r_student_public_relation pr
        WHERE
            pr.`status` = 1
        AND pr.semester_id = #{semesterId}
        AND pr.recruit_school_id = #{recruitSchoolId}
        AND pr.group_id = #{groupId}
    </select>


    <select id="queryCollegeNameAndAmount" parameterType="java.lang.Long"
            resultType="com.educiot.recruit.data.entity.vo.FacultyAdmissionsProgressVO">
            SELECT
                c.college_name AS collegeName,
                td.target_amount AS targetAmount,
                c.college_id
            FROM
                e_r_plan p
                LEFT JOIN e_r_college c ON c.plan_id = p.plan_id
                LEFT JOIN e_r_target_decomposition td ON c.api_id = td.node_id
            WHERE
                p.`status` != 0
                AND p.semester_id = #{semesterId}
                AND p.recruit_school_id = #{recruitSchoolId}
                AND td.target_id = (
            SELECT
                t.target_id
            FROM
                e_r_plan p
                LEFT JOIN e_r_college c ON c.plan_id = p.plan_id
                LEFT JOIN e_r_target t ON t.semester_id = p.semester_id
                AND t.recruit_school_id = p.recruit_school_id
            WHERE
                p.`status` != 0
                 AND p.semester_id = #{semesterId}
                AND p.recruit_school_id = #{recruitSchoolId}
            GROUP BY
                t.target_id
                )
    </select>


    <select id="queryFacultyAdmissionsProgress" parameterType="java.lang.Long"
            resultType="java.lang.Integer">
        SELECT
            SUM( IF ( pr.register_status = 1 OR pr.register_status = 0 OR pr.register_status = 4, 1, 0 ) ) AS actualNumber
        FROM
            e_r_college c
            LEFT JOIN e_r_major m ON c.college_id = m.college_id
            LEFT JOIN e_r_aim_major am ON m.major_id = am.major_id
            LEFT JOIN e_r_student_public_relation pr ON am.student_public_relation_id = pr.student_public_relation_id
        WHERE
            pr.`status` = 1
            AND pr.semester_id = #{semesterId}
            AND pr.recruit_school_id = #{recruitSchoolId}
            AND c.college_id = #{collegeId}
            and am.`level`=1
        GROUP BY
            c.college_name,
            c.recruit_amount
    </select>


<!--    <select id="facultyAdmissionsProgress" parameterType="java.lang.Long"
            resultType="com.educiot.recruit.data.entity.vo.FacultyAdmissionsProgressVO">
      SELECT
            c.college_name AS collegeName,
            c.recruit_amount AS targetAmount,
            SUM(

                IF (pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS actualNumber
        FROM
            e_r_college c
        LEFT JOIN e_r_major m ON c.college_id = m.college_id
        LEFT JOIN e_r_aim_major am ON m.major_id = am.major_id
        LEFT JOIN e_r_student_public_relation pr ON am.student_public_relation_id = pr.student_public_relation_id
        WHERE
            pr.`status` = 1
        AND pr.semester_id = #{semesterId}
        AND pr.recruit_school_id = #{recruitSchoolId}
        GROUP BY
            c.college_name,
            c.recruit_amount
    </select>-->

    <select id="regionalEnrollmentProgressReport" parameterType="java.lang.Long"
            resultType="com.educiot.recruit.data.entity.vo.RegionalEnrollmentProgressReportVO">
       SELECT
            g.`name` AS groupName,
            g.target_amount AS targetAmount,
            SUM(

                IF (pr.register_status = 2, 1, 0)
            ) AS refundAmount,
            SUM(

                IF (pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS payAmount,
             SUM(

                IF (pr.register_status = 1 or pr.register_status = 2 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS applyAmount
        FROM
            e_r_group_info gi
        LEFT JOIN e_r_group g ON g.group_info_id = gi.group_info_id
        LEFT JOIN e_r_student_public_relation pr ON pr.group_id = g.group_id
        WHERE
            pr.semester_id = gi.semester_id
        AND pr.`status` = 1
        AND pr.semester_id = #{semesterId}
        AND pr.recruit_school_id = #{recruitSchoolId}
        GROUP BY
            g.`name`,
            g.target_amount
    </select>

    <select id="studentSourceReport" resultType="com.educiot.recruit.data.entity.vo.SourceSchoolReportVO"
            parameterType="java.lang.Long">
        SELECT
            ss.source_school_name AS schoolName,
            SUM(

                IF (pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS payAmount,
            SUM(

                IF (pr.register_status = 2, 1, 0)
            ) AS refundAmount,
            SUM(

                IF (pr.register_status = 2 or pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS applyAmount
        FROM
            e_r_source_school ss
        LEFT JOIN e_r_student_public_relation pr ON ss.source_school_id = pr.source_school_id
        where pr.semester_id=#{semesterId}
        AND pr.recruit_school_id = #{recruitSchoolId}
        group BY ss.source_school_name
    </select>


    <!--APP报表开始-->
    <select id="principalProgress" resultType="com.educiot.recruit.data.entity.vo.PrincipalProgressVO"
            parameterType="java.lang.Long">
        SELECT
            pr.creator_name AS principal,
            SUM(
                IF (pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS numberOfPeople
        FROM
            e_r_student_public_relation pr
        WHERE
            pr.recruit_school_id = #{recruitSchoolId} and pr.semester_id=#{semesterId} and pr.group_id=#{groupId}
        GROUP BY
            pr.creator_name
    </select>

    <select id="enrollmentAnalysis" resultType="com.educiot.recruit.data.entity.vo.EnrollmentAnalysisVO"
            parameterType="java.lang.Long">
        SELECT
            ss.source_school_name sourceSchoolName,
            SUM(
                IF (pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS numberOfPeople
        FROM
            e_r_student_public_relation pr
        LEFT JOIN e_r_source_school ss ON pr.source_school_id = ss.source_school_id
        WHERE
             pr.recruit_school_id = #{recruitSchoolId} and pr.semester_id = #{semesterId} and pr.group_id=#{groupId}
        GROUP BY
            ss.source_school_name
    </select>

    <select id="registrationStage" resultType="com.educiot.recruit.data.entity.vo.RegistrationStageVO"
            parameterType="java.lang.Long">
        SELECT
            CASE
        WHEN (pr.register_status = 0) THEN
            '已交订金'
        WHEN (pr.register_status = 1) THEN
            '已交全款'
        WHEN (pr.register_status = 2) THEN
            '已退款'
        WHEN (pr.register_status = 3) THEN
            '强意向生'
        WHEN (pr.register_status = 4) THEN
            '已报名'
        ELSE
            pr.register_status
        END AS stageName,
         SUM(
            IF (pr.register_status = 0, 1, 0) or
            IF (pr.register_status = 1, 1, 0) or
            IF (pr.register_status = 2, 1, 0) or
            IF (pr.register_status = 3, 1, 0) Or
            IF (pr.register_status = 4, 1, 0)
        ) AS numberOfPeople
        FROM
            e_r_student_public_relation pr
        WHERE
             pr.recruit_school_id = #{recruitSchoolId} and pr.semester_id = #{semesterId} and pr.group_id=#{groupId}
        GROUP BY
            pr.register_status
    </select>

    <select id="professionalRegistration" parameterType="java.lang.Long"
            resultType="com.educiot.recruit.data.entity.vo.ProfessionalRegistrationVO">
               SELECT
            m.major_name majorName,
            m.recruit_amount recruitAmount,
            SUM(

                IF (pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS numberOfPeople
        FROM
            e_r_major m
        LEFT JOIN e_r_aim_major am ON am.major_id = m.major_id
        LEFT JOIN e_r_student_public_relation pr ON pr.student_public_relation_id = am.student_public_relation_id
        WHERE
            pr.recruit_school_id = #{recruitSchoolId} and pr.semester_id=#{semesterId} and pr.group_id=#{groupId}
        GROUP BY
            m.major_name,
            m.recruit_amount
    </select>
    <!--APP报表结束-->

    <!--渠道报表SQL始-->
    <select id="channelReport" parameterType="java.lang.Long"
            resultType="com.educiot.recruit.data.entity.vo.ChannelReportVO">
        SELECT
            rw.online_type as channelName,
            td.target_amount as targetAmount,
            SUM(

                IF (pr.register_status = 2, 1, 0)
            ) AS refundAmount,
            SUM(

                IF (pr.register_status = 1 or pr.register_status = 0 or pr.register_status = 4, 1, 0)
            ) AS payAmount,
            SUM(

                IF (
                    pr.register_status = 1
                    OR pr.register_status = 0
                    or pr.register_status = 4
                    or pr.register_status = 2,
                    1,
                    0
                )
            ) AS applyAmount
        FROM
            e_r_recruit_way rw
        LEFT JOIN e_r_target_decomposition td ON rw.online_type = td.node_name
        LEFT JOIN e_r_target t ON td.target_id = t.target_id
        LEFT JOIN e_r_student_public_relation pr ON pr.student_public_relation_id = rw.student_public_relation_id
        WHERE
            t.semester_id = #{semesterId}
        AND t.recruit_school_id = #{recruitSchoolId}
        AND pr.semester_id = #{semesterId}
        GROUP BY
            rw.online_type,
            td.target_amount
        UNION
            SELECT
                '线上总计' as channelName,
                sum(td.target_amount) as targetAmount,
                SUM(

                    IF (pr.register_status = 2, 1, 0)
                ) AS refundAmount,
                SUM(

                    IF (pr.register_status = 1 or pr.register_status = 0 OR pr.register_status = 4, 1, 0)
                ) AS payAmount,
                SUM(

                    IF (
                        pr.register_status = 1
                        OR pr.register_status = 0
                         or pr.register_status = 2
                        or pr.register_status = 4,
                        1,
                        0
                    )
                ) AS applyAmount
            FROM
                e_r_recruit_way rw
            LEFT JOIN e_r_target_decomposition td ON rw.online_type = td.node_name
            LEFT JOIN e_r_target t ON td.target_id = t.target_id
            LEFT JOIN e_r_student_public_relation pr ON pr.student_public_relation_id = rw.student_public_relation_id
            WHERE
               t.semester_id = #{semesterId}
            AND t.recruit_school_id = #{recruitSchoolId}
            AND pr.semester_id = #{semesterId}
        UNION
        SELECT
            g.`name` as channelName,
            g.target_amount as targetAmount,
            SUM(

                IF (pr.register_status = 2, 1, 0)
            ) AS refundAmount,
            SUM(

                IF (pr.register_status = 1 or pr.register_status = 0 OR pr.register_status = 4, 1, 0)
            ) AS payAmount,
            SUM(

                IF (
                    pr.register_status = 1
                    OR pr.register_status = 0
                     or pr.register_status = 2
                    or pr.register_status = 4,
                    1,
                    0
                )
            ) AS applyAmount
        FROM
            e_r_group_info gi
        LEFT JOIN e_r_group g ON gi.group_info_id = g.group_info_id
        LEFT JOIN e_r_student_public_relation pr ON pr.group_id = g.group_id
        WHERE
            gi.semester_id = #{semesterId}
        AND gi.recruit_school_id = #{recruitSchoolId}
        And g.status = 1
        GROUP BY
            g.`name`,
            g.target_amount
        UNION
            SELECT
                '线下总计' as channelName,
                (
                    SELECT
                        SUM(g.target_amount) as targetAmount

                    FROM
                        e_r_group_info gi
                    LEFT JOIN e_r_group g ON gi.group_info_id = g.group_info_id
                    WHERE
                        gi.semester_id = #{semesterId}
                    AND gi.recruit_school_id = #{recruitSchoolId}
                ) as target_amount,
                SUM(

                    IF (pr.register_status = 2, 1, 0)
                ) AS refundAmount,
                SUM(

                    IF (pr.register_status = 1 or pr.register_status = 0 OR pr.register_status = 4, 1, 0)
                ) AS payAmount,
                SUM(

                    IF (
                        pr.register_status = 1
                        OR pr.register_status = 0
                         or pr.register_status = 2
                        or pr.register_status = 4,
                        1,
                        0
                    )
                ) AS applyAmount
            FROM
                e_r_group_info gi
            LEFT JOIN e_r_group g ON gi.group_info_id = g.group_info_id
            LEFT JOIN e_r_student_public_relation pr ON pr.group_id = g.group_id
            WHERE
                gi.semester_id = #{semesterId}
            AND gi.recruit_school_id = #{recruitSchoolId}
    </select>
    <!--渠道报表SQL终-->

    <!--招生报表SQL始-->
    <!--查询区域-->
    <select id="queryRegion" resultType="com.educiot.recruit.data.entity.vo.RegionVO" parameterType="java.lang.Long">
        SELECT
            g.`name` name,
            g.target_amount targetAmount,
            g.group_id groupId
        FROM
            e_r_group_info gi
        LEFT JOIN e_r_group g ON g.group_info_id = gi.group_info_id
        WHERE
            gi.semester_id = #{semesterId}
        AND gi.recruit_school_id = #{recruitSchoolId}
    </select>
    <!--查询区域下面的负责人-->
    <select id="queryRegionCharger" resultType="com.educiot.recruit.data.entity.vo.RegionChargerVO" parameterType="java.lang.String">
        SELECT
        c.`name`,
        (
        SELECT
        count( pr.public_relation )
        FROM
        e_r_charger s
        LEFT JOIN e_r_public_relation pr ON s.api_id = pr.creator_id
        WHERE
        s.group_id = pr.group_id
        AND s.group_id = #{groupId}
        AND s.`status` = 1
        AND s.`name` = c.`name`
        ) AS visitedSchoolNumber,
        (
        SELECT
        count( cr.consultation_register_id )
        FROM
        e_r_consultation c
        left join e_r_consultation_register cr on c.consultation_id=cr.consultation_id
        LEFT JOIN e_r_charger s ON cr.creator_id = s.api_id
        WHERE
        s.`name` = c.`name`
        AND cr.consultation_type = 1
        AND s.group_id = #{groupId}
        And c.semester_id=#{semesterId}
        And s.`status`=1
        ) AS schoolNumber,
        (
        SELECT
        count( cr.consultation_register_id )
        FROM
        e_r_consultation c
        left join e_r_consultation_register cr on c.consultation_id=cr.consultation_id
        LEFT JOIN e_r_charger s ON cr.creator_id = s.api_id
        WHERE
        s.`name` = c.`name`
        AND s.group_id = #{groupId}
        And c.semester_id=#{semesterId}
        AND cr.consultation_type = 0
        And s.`status`=1
        ) AS peopleNumber,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.`name` = c.`name`
        AND s.`status` = 1
        AND s.group_id = #{groupId}
        And s.group_id=spr.group_id
        AND ( spr.register_status = 1 OR spr.register_status = 0 OR spr.register_status = 4 )
        ) AS payAmount,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.`name` = c.`name`
        AND s.`status` = 1
        AND s.group_id = #{groupId}
        And s.group_id=spr.group_id
        AND spr.register_status = 2
        ) AS refundAmount,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.`name` = c.`name`
        AND s.`status` = 1
        AND s.group_id = #{groupId}
        And s.group_id=spr.group_id
        AND ( spr.register_status = 0 OR spr.register_status = 1 OR spr.register_status = 4 OR spr.register_status = 2 )
        ) AS totalAmount,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.`name` = c.`name`
        AND s.`status` = 1
        AND s.group_id = #{groupId}
        And s.group_id=spr.group_id
        AND ( spr.register_status = 0 OR spr.register_status = 1 OR spr.register_status = 4 )
        <if test='regionChargerQuery.startTime != null and regionChargerQuery.startTime != "" and regionChargerQuery.endTime != null and regionChargerQuery.endTime != ""'>
            AND spr.status_change_time &gt;= #{regionChargerQuery.startTime} AND spr.status_change_time &lt;= #{regionChargerQuery.endTime}
        </if>
        ) AS timeAmount
        FROM
        e_r_charger c
        WHERE
        c.group_id = #{groupId}
        AND c.`status` = 1
        GROUP BY
        c.`name` UNION
        SELECT
        '小计',
        (
        SELECT
        count( pr.public_relation )
        FROM
        e_r_charger s
        LEFT JOIN e_r_public_relation pr ON s.api_id = pr.creator_id
        WHERE
        s.group_id = pr.group_id
        AND s.group_id = #{groupId}
        AND s.`status` = 1
        ) AS visitedSchoolNumber,
        (
        SELECT
        count( cr.consultation_register_id )
        FROM
        e_r_consultation c
        left join e_r_consultation_register cr on c.consultation_id=cr.consultation_id
        LEFT JOIN e_r_charger s ON cr.creator_id = s.api_id
        WHERE
        cr.consultation_type = 1
        AND s.`status` = 1
        AND s.group_id = #{groupId}
        And c.semester_id=#{semesterId}
        ) AS schoolNumber,
        (
        SELECT
        count( cr.consultation_register_id )
        FROM
        e_r_consultation c
        left join e_r_consultation_register cr on c.consultation_id=cr.consultation_id
        LEFT JOIN e_r_charger s ON cr.creator_id = s.api_id
        WHERE
        s.group_id = #{groupId}
        And c.semester_id=#{semesterId}
        AND s.`status` = 1
        AND cr.consultation_type = 0
        ) AS peopleNumber,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.group_id = #{groupId}
        AND s.`status` = 1
        And s.group_id=spr.group_id
        AND ( spr.register_status = 1 OR spr.register_status = 0 OR spr.register_status = 4 )
        ) AS payAmount,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.group_id = #{groupId}
        AND s.`status` = 1
        And s.group_id=spr.group_id
        AND spr.register_status = 2
        ) AS refundAmount,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.group_id = #{groupId}
        AND s.`status` = 1
        And s.group_id=spr.group_id
        AND ( spr.register_status = 0 OR spr.register_status = 1 OR spr.register_status = 4 OR spr.register_status = 2 )
        ) AS totalAmount,
        (
        SELECT
        count( spr.student_public_relation_id )
        FROM
        e_r_student_public_relation spr
        LEFT JOIN e_r_charger s ON spr.creator_id = s.api_id
        WHERE
        s.group_id = #{groupId}
        AND s.`status` = 1
        And s.group_id=spr.group_id
        AND ( spr.register_status = 0 OR spr.register_status = 1 OR spr.register_status = 4 )
        <if test='regionChargerQuery.startTime != null and regionChargerQuery.startTime != "" and regionChargerQuery.endTime != null and regionChargerQuery.endTime != ""'>
            AND spr.status_change_time &gt;= #{regionChargerQuery.startTime} AND spr.status_change_time &lt;= #{regionChargerQuery.endTime}
        </if>
        ) AS timeAmount
        FROM
        e_r_charger c
        WHERE
        c.group_id = #{groupId}
        AND c.`status` = 1
        GROUP BY
        '小计'
    </select>
    <!--招生报表SQL终-->
</mapper>
