<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.SourceSchoolMapper">

    <!-- 分页获取招生分组信息列表 -->
    <!--小程序的-->
    <select id="listGroupInfoWeChat" resultType="com.educiot.recruit.data.entity.vo.ListSourceSchoolVO">
        SELECT
            ss.source_school_id,
            ss.source_school_name,
            ss.province,
            ss.city,
            ss.district
        FROM
            e_r_group_info gi
            LEFT JOIN e_r_group g ON gi.group_info_id = g.group_info_id
            LEFT JOIN e_r_group_source_relation gs ON g.group_id = gs.group_id
            LEFT JOIN e_r_source_school ss ON gs.source_school_id = ss.source_school_id
        WHERE
            ss.`status` = 1
            <if test="null != param.searchKey and param.searchKey != ''">
                AND ss.source_school_name LIKE CONCAT('%', #{param.searchKey}, '%')
            </if>
            AND ss.recruit_school_id = #{recruitSchoolId}
            AND gi.semester_id =#{param.semesterId}
            and ss.`status`=1
        ORDER BY
            ss.create_time DESC
    </select>

    <!--后台的-->
    <!-- 分页获取招生分组信息列表 -->
    <select id="listGroupInfoPage" resultType="com.educiot.recruit.data.entity.vo.ListSourceSchoolVO">
        SELECT
        ss.source_school_id,
        ss.source_school_name,
        ss.province,
        ss.city,
        ss.district
        FROM
        e_r_source_school ss
        WHERE
        ss.`status` = 1
        <if test="null != param.searchKey and param.searchKey != ''">
            AND ss.source_school_name LIKE CONCAT('%', #{param.searchKey}, '%')
        </if>
        AND ss.recruit_school_id = #{recruitSchoolId}
        ORDER BY
        ss.create_time DESC
    </select>
    
    <!-- 根据生源学校id集合查询生源学校信息 -->
    <select id="listSourceSchoolByIds" resultType="com.educiot.recruit.data.entity.vo.SourceSchoolVO">
        SELECT
            ss.source_school_id,
            ss.source_school_name,
            ss.province,
            ss.city,
            ss.district
        FROM
            e_r_source_school ss
        WHERE
            ss.`status` = 1
        AND source_school_id IN
        <foreach collection="sourceSchoolIds" item="sourceSchoolId" open="(" separator="," close=")">
            #{sourceSchoolId}
        </foreach>
    </select>

    <select id="listSourceSchoolByRecruitSchoolId" resultType="com.educiot.recruit.data.entity.vo.SourceSchoolVO">
       SELECT
            ss.source_school_id,
            ss.source_school_name,
            ss.province,
            ss.city,
            ss.district
        FROM
            e_r_group_info gi
            LEFT JOIN e_r_group g ON gi.group_info_id = g.group_info_id
            LEFT JOIN e_r_group_source_relation gs ON g.group_id = gs.group_id
            LEFT JOIN e_r_source_school ss ON gs.source_school_id = ss.source_school_id
        WHERE
            gi.recruit_school_id = #{recruitSchoolId}
            AND gi.semester_id = #{semesterId}
            and ss.`status`=1
    </select>

    <!--学校拜访记录查询学校-->
    <select id="listSourceSchoolByRecruitSchoolIdAndGroupId" resultType="com.educiot.recruit.data.entity.vo.SourceSchoolVO">
         SELECT
            ss.source_school_id,
            ss.source_school_name,
            ss.province,
            ss.city,
            ss.district
        FROM
            e_r_group_source_relation gsr
        LEFT JOIN e_r_source_school ss ON gsr.`source_school_id` = ss.`source_school_id`
        LEFT JOIN e_r_charger c ON c.group_id = gsr.group_id
        WHERE
            ss.`status` = 1
        AND ss.recruit_school_id = #{recruitSchoolId}
        AND gsr.`group_id` = #{groupId}
        AND c.charger_id = #{chargerId}
        AND gsr.semester_id = #{semesterId}
    </select>

    <!-- 查询某个分组下负责的生源学校完成度统计 -->
    <select id="listCompleteRate" resultType="com.educiot.recruit.data.entity.SourceSchool">
        SELECT
            ss.source_school_id,
            ss.source_school_name,
            ss.province,
            ss.city,
            ss.district,
            ss.is_relation,
            ss.relation_level,
            ss.source_scale,
            ss.qualification,
            ss.address,
            ss.grade_director_name,
            ss.grade_director_tel,
            ss.class_amount ,
            ss.recruit_amount,
            ss.school_case_comment,
            ss.recruit_way
        FROM
            e_r_group_source_relation gsr
        LEFT JOIN e_r_source_school ss ON ss.source_school_id = gsr.source_school_id
        WHERE
            gsr.group_id = #{groupId}
        AND ss.`status` = 1
        and gsr.semester_id=#{currentSemesterId}
    </select>

</mapper>
