<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.StudentInfoMapper">

    <select id="listStudentPage" resultType="com.educiot.recruit.data.entity.vo.StudentInfoVO" parameterType="com.educiot.recruit.data.entity.query.ListStudentPageQuery">
        SELECT
            si.student_info,
            si.student_name,
            si.gender,
            si.image_url,
            si.student_telephone,
            si.parent_telephone,
            c.class_name,
            ss.source_school_name,
            pr.register_status,
            pr.creator_id,
            pr.creator_name,
            pr.`level`,
            pr.reason,
            pr.direction,
            pr.student_no,
            pr.student_public_relation_id
        FROM
            e_r_student_info si
        LEFT JOIN
            e_r_student_public_relation pr ON si.student_info = pr.student_info
        LEFT JOIN
            e_r_class c ON pr.class_id = c.class_id
        LEFT JOIN
            e_r_source_school ss ON pr.source_school_id = ss.source_school_id
        where
            pr.status=1
        <if test='param.sourceSchoolId!=null and param.sourceSchoolId!=""'>
            and pr.source_school_id = #{param.sourceSchoolId}
        </if>
        <if test='param.classId!=null and param.classId!=""'>
            and c.class_id = #{param.classId}
        </if>
        <if test='param.studentName!=null and param.studentName!=""'>
            and si.student_name like CONCAT('%',#{param.studentName},'%')
        </if>
        <if test='param.registerStatus!=null'>
            and pr.register_status = #{param.registerStatus}
        </if>
        <if test='param.groupId!=null and param.groupId!=""'>
            and pr.group_id = #{param.groupId}
        </if>
        <if test='param.semesterId!=null and param.semesterId!=""'>
            and c.semester_id = #{param.semesterId}
        </if>
        order by
            si.create_time DESC
    </select>

    <select id="listStudentCount" resultType="java.lang.Integer" parameterType="com.educiot.recruit.data.entity.query.ListStudentPageQuery">
        SELECT
        count(si.student_info)
        FROM
        e_r_student_info si
        LEFT JOIN
        e_r_student_public_relation pr ON si.student_info = pr.student_info
        LEFT JOIN
        e_r_class c ON pr.class_id = c.class_id
        LEFT JOIN
        e_r_source_school ss ON pr.source_school_id = ss.source_school_id
        where
        pr.status=1 and c.semester_id=#{param.semesterId}
        <if test='param.sourceSchoolId!=null and param.sourceSchoolId!=""'>
            and pr.source_school_id = #{param.sourceSchoolId}
        </if>
        <if test='param.classId!=null and param.classId!=""'>
            and c.class_id = #{param.classId}
        </if>
        <if test='param.studentName!=null and param.studentName!=""'>
            and si.student_name like CONCAT('%',#{param.studentName},'%')
        </if>
        <if test='param.registerStatus!=null and param.registerStatus!=""'>
            and pr.register_status = #{param.registerStatus}
        </if>
        <if test='param.groupId!=null and param.groupId!=""'>
            and pr.group_id = #{param.groupId}
        </if>
        order by
        si.create_time DESC
    </select>

    <select id="listSourceSchool" resultType="com.educiot.recruit.data.entity.vo.ListSourceSchoolVO" parameterType="java.lang.Long">
        SELECT
            ss.source_school_id,
            ss.source_school_name
        FROM
            e_r_charger c
        LEFT JOIN e_r_group g ON c.group_id = g.group_id
        LEFT JOIN e_r_group_source_relation sr ON g.group_id = sr.group_id
        LEFT JOIN e_r_source_school ss ON sr.source_school_id = ss.source_school_id
        WHERE
            c.charger_id =#{chargerId}
    </select>

    <select id="queryByStudentInfoId" resultType="com.educiot.recruit.data.entity.vo.StudentInfoVO">
          SELECT
            si.student_info,
            si.student_name,
            si.gender,
            si.image_url,
            si.student_telephone,
            si.parent_telephone,
            si.nation,
            si.doa,
            si.id_no,
            si.health_status,
            si.province,
            si.city,
            si.district,
            si.wechat,
            si.family_city,
            si.family_district,
            si.family_province,
            si.qq_no,
            si.address,
            c.class_name,
            ss.source_school_name,
            pr.register_status,
            pr.creator_id,
            pr.creator_name,
            pr.`level`,
            pr.reason,
            pr.direction,
            pr.student_no,
            pr.student_public_relation_id
        FROM
            e_r_student_info si
        LEFT JOIN e_r_student_public_relation pr ON si.student_info = pr.student_info
        LEFT JOIN e_r_class c ON pr.class_id = c.class_id
        LEFT JOIN e_r_source_school ss ON pr.source_school_id = ss.source_school_id
        WHERE
            pr. STATUS = 1
        and pr.student_info= #{studentInfoId} and pr.recruit_school_id = #{schoolId}
    </select>


    <select id="queryStudentCount" resultType="java.lang.String" parameterType="com.educiot.recruit.data.entity.query.StudentQuery">
        SELECT
            si.student_info
        FROM
            e_r_student_info si
            LEFT JOIN e_r_student_public_relation spr ON spr.student_info = si.student_info
            LEFT JOIN e_r_class c ON spr.class_id = c.class_id
        WHERE
            c.class_id = #{studentQuery.classId}
            AND spr.recruit_school_id = #{studentQuery.recruitSchoolId}
            AND si.student_name = #{studentQuery.studentName}
            AND c.source_school_id = #{studentQuery.sourceSchoolId}
    </select>

    <select id="listStudentInfoPageByClassId"  resultType="com.educiot.recruit.data.entity.vo.StudentInfoVO" >
        SELECT
            si.student_info
        FROM
            e_r_student_info si
            LEFT JOIN e_r_student_public_relation spr ON spr.student_info = si.student_info
            LEFT JOIN e_r_class c ON spr.class_id = c.class_id
        WHERE
            c.class_id = #{param.classId}
            and c.semester_id = #{semesterId}
    </select>



</mapper>
