<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.SysRegionMapper">
    <select id="listByParentID" resultType="com.educiot.recruit.data.entity.vo.SysRegionVO">
        SELECT * FROM e_r_sys_region WHERE parent_id !=0
    </select>
</mapper>
