<?x    ml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.TargetMapper">
    <sql id="baseQuery">
       SELECT
            ta.target_id,
            ta.recruit_school_id AS schoolId,
			ta.semester_id,
			ta.semester AS semesterName,
            ta.title,
            ta.target_amount,
            ta.create_time,
            ta.creator_name
        FROM
            e_r_target AS ta
    </sql>

    <select id="getTargetListPage" resultType="com.educiot.recruit.data.entity.vo.TargetVO">
       <include refid="baseQuery"/>
        WHERE ta.recruit_school_id=#{schoolId}
        ORDER BY ta.create_time DESC
    </select>

    <!--查询招生目详情 开始-->
    <resultMap id="DetailMap" type="com.educiot.recruit.data.entity.vo.TargetDetailVO">
        <id column="target_id" property="targetId"/>
        <result column="title" property="title"/>
        <result column="target_amount" property="targetAmount"/>
        <result column="create_time" property="createTime"/>
        <result column="semester_id" property="semesterId"/>
        <result column="schoolId" property="schoolId"/>
        <result column="semesterName" property="semesterName"/>
        <collection column="{targetId=target_id}" property="channelTreeVO"
                    ofType="com.educiot.recruit.data.entity.vo.TagetTreeVO" select="selectChannel"/>
        <collection column="{targetId=target_id}" property="majorTreeVO"
                    ofType="com.educiot.recruit.data.entity.vo.TagetTreeVO" select="selectMajor"/>
    </resultMap>
    <resultMap id="SubMap" type="com.educiot.recruit.data.entity.vo.TagetTreeVO">
        <id column="target_decomposition_id" property="targetDecompositionId"/>
        <result column="node_name" property="nodeName"/>
        <result column="target_amount" property="targetAmount"/>
        <result column="comment" property="comment"/>
        <collection column="{targetDecompositionId=target_decomposition_id}" property="nodeList" ofType="com.educiot.recruit.data.entity.TargetDecomposition" select="selectSub"/>
    </resultMap>
    <select id="getDetailByTargetId" resultMap="DetailMap">
       <include refid="baseQuery"/>
        WHERE ta.target_id=#{targetId}
    </select>
    <select id="selectChannel" resultMap="SubMap">
        SELECT
        a.node_name,
        a.target_amount,
        a.`comment`,
        a.target_decomposition_id
        FROM e_r_target_decomposition a
        WHERE a.target_id=#{targetId} AND a.parent_id='0' AND a.type=0
    </select>
    <select id="selectMajor" resultMap="SubMap">
        SELECT
        a.node_id,
        a.node_name,
        a.target_amount,
        a.`comment`,
        a.target_decomposition_id
        FROM e_r_target_decomposition a
        WHERE a.target_id=#{targetId} AND a.parent_id='0' AND a.type=1
    </select>
    <select id="selectSub" resultType="com.educiot.recruit.data.entity.TargetDecomposition">
        SELECT
        a.node_id,
        a.node_name,
        a.target_amount,
        a.`comment`,
        a.target_decomposition_id
        FROM e_r_target_decomposition a
        WHERE a.parent_id=#{targetDecompositionId}
    </select>
    <!--查询招生目标树 结束-->

    <select id="queryTargetDecompositionId" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT
            td.target_decomposition_id
        FROM
            e_r_target t
            LEFT JOIN e_r_target_decomposition td ON t.target_id = td.target_id
        WHERE
            t.recruit_school_id = #{recruitSchoolId}
            AND t.semester_id = #{semesterId}
            AND td.node_name = '线上招生目标'
    </select>

    <select id="queryNodeNameList" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
            td.node_name
        FROM
            e_r_target_decomposition td
        WHERE
            td.parent_id = #{targetDecompositionId}
    </select>
</mapper>
