bgColor = #FFF // 定义背景色
btnBgColor = #00CCFF // 定义hover激活色
btnColor = #FFF // 定义hover激活色
bgListColor = #f9f9f9 //定义列表背景色
activeBtnColor = #00CCFF //定义选择按钮颜色
noActiveBtnBgColor = #F2F2F2 //定义按钮未选中背景
fontTitleColor = #333333 // 定义重色字体颜色（导航类）
fontTextColor = #666666 // 定义中色颜色（正文）
fontMiniFontColor = #999999 // 定义轻色颜色（用于提示，小tip）
fontMinFontColor = #1E93FF // 定义亮色颜色（用于提示，文字选择按钮）
fontNotActiveColor = #C6C6C6

fontMinSize = 0.3rem //定义小号字体
fontMedSize = 0.4rem //定义中号字体
fontBigSize = 0.48rem //定义大号字体
fontBigBigSize = 0.58rem //定义大号字体

//没选中按钮的颜色
notActiveBtnColor = #F8F8F8

//图片设置配置
imgWidth = 15pt

//设置大字体
BigFontTitle = 16pt

//设置间距
marginLeft = 12pt
//背景颜色
BgColorNew = #F5F5F5

//设置两个主体之间的上下间距
marginTop = 10px

//定义箭头颜色
activeRightIconColor = #00CCFF //定义选择按钮颜色
activeRightIconColor = #00CCFF //定义选择按钮颜色

//定义下底部颜色
activeBottomColor = #00CCFF //定义选择按钮颜色

inputLineHeight = 55px