<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.PublicRelationMapper">
    <!--分页查询计划列表信息-->
    <select id="listPageGroupCountByUserId"
            resultType="com.educiot.recruit.data.entity.vo.publicRelation.PublicRelationGroupCountVO">
        SELECT
            ss.source_school_id sourceSchoolId,
            ss.source_school_name sourceSchoolName,
            (
            select count(pr.public_relation) from e_r_public_relation pr
            where  pr.group_id=#{groupId}
            and pr.source_school_id=ss.source_school_id
        ) amount
        FROM
            e_r_group_source_relation gsr
            LEFT JOIN e_r_source_school ss ON gsr.`source_school_id` = ss.`source_school_id`
        WHERE
            ss.`status` = 1
            AND gsr.`group_id` =#{groupId}
            AND gsr.semester_id =#{semesterId}
        GROUP BY
            ss.source_school_id,
            ss.source_school_name
    </select>

    <!--分页查询计划列表信息-->
    <select id="listPage" resultType="com.educiot.recruit.data.entity.vo.publicRelation.PublicRelationVO"
            parameterType="com.educiot.recruit.data.entity.query.publicRelation.PublicRelationPageQuery">
            SELECT
                pr.*,
            CASE

                WHEN pr.creator_id = #{userId} THEN
            TRUE ELSE FALSE
                END isMine
            FROM
                e_r_group_source_relation gsr
                LEFT JOIN e_r_source_school ss ON gsr.`source_school_id` = ss.`source_school_id`
                LEFT JOIN e_r_public_relation pr ON ss.`source_school_id` = pr.`source_school_id`
            WHERE
                pr.source_school_id = #{query.sourceSchoolId}
                AND gsr.semester_id = #{query.semesterId}
                AND gsr.`group_id` = #{query.groupId}
                AND gsr.group_id=pr.group_id
            ORDER BY
                pr.create_time DESC
    </select>
</mapper>