<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.preach.PreachPlanMapper">
    <!--    <resultMap id="" type="">-->

    <!--    </resultMap>-->
    <!--分页查询计划列表信息-->
    <select id="pagePreachPlanByUserId" resultType="com.educiot.recruit.data.entity.vo.preach.PreachPlanVO"
            parameterType="com.educiot.recruit.data.entity.query.preach.PreachPlanByUserIdPageQuery">
       SELECT * from e_r_preach_plan where (speaker_id  =#{userId} OR   creator_id =#{userId}) and semester_id = #{semesterId} AND `status` > 0 order by preach_time DESC
    </select>

    <select id="listPageByStudentPublicRelationId" resultType="com.educiot.recruit.data.entity.vo.preach.PreachPlanVO">
       SELECT p.* FROM  e_r_preach_register r LEFT JOIN e_r_preach_plan p ON r.`preach_plan_id`= p.`preach_plan_id` WHERE r.`student_public_relation_id`=#{studentPublicRelationId} and r.status = 1 order by p.preach_time DESC
    </select>

    <!--分页查询计划列表信息-->
    <select id="pageAllPreachPlanByUserId" resultType="com.educiot.recruit.data.entity.vo.preach.PreachPlanVO"
            parameterType="com.educiot.recruit.data.entity.query.preach.PreachPlanAllByUserIdPageQuery">
        <![CDATA[
        SELECT DISTINCT
            p.preach_plan_id,
            p.`semester`,
            p.`preach_time`,
            p.`end_time`,
            p.`speaker_id`,
            p.`speaker_name`,
            p.`plan_amount`,
            p.`telephone`,
            p.`title`,
            p.`address`,
            p.`comment`,
            p.`creator_id`,
            p.`creator_name`,
            p.`semester_id`,
            p.`status`,
            TRUE isRelation
        FROM
            e_r_preach_plan p
        WHERE
            p.semester_id = #{semesterId}
            AND p.STATUS > 0
            AND p.creator_id =#{userId}
        ORDER BY
            p.preach_time DESC
        ]]>
    </select>
    <!--分页查询计划列表信息-->
    <select id="listPage" resultType="com.educiot.recruit.data.entity.vo.preach.PreachPlanVO">
        SELECT * from (select
        p.*,( SELECT count( * ) FROM e_r_preach_register pr WHERE pr.preach_plan_id = p.preach_plan_id AND pr.`status` = 1 ) sign_amount
        FROM
        e_r_preach_plan p LEFT JOIN e_r_preach_register pr ON p.preach_plan_id = pr.preach_plan_id
        WHERE
        p.status != 0  and p.semester_id = #{semesterId}
        <if test='param.preachTime!=null'>
            and (p.preach_time <![CDATA[>=]]>  #{param.preachTime} or p.preach_time is null)
        </if>
        <if test='param.endTime!=null'>
           and (p.end_time <![CDATA[<=]]> #{param.endTime} or p.end_time is null)
        </if>
        <if test='param.speakerName!=null and param.speakerName!=""'>
            and p.speaker_name like CONCAT('%',#{param.speakerName},'%')
        </if>
        GROUP BY p.`preach_plan_id`) a
        order by
        a.preach_time DESC
    </select>
    <update  id="updateStatus" parameterType="com.educiot.recruit.data.entity.query.common.UpdateStatusQuery">
        update e_r_preach_plan set status = #{param.status} where preach_plan_id  = #{param.id}
    </update>
</mapper>
