<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.preach.PreachFeedbackMapper">
    <select id="listPage" resultType="com.educiot.recruit.data.entity.vo.preach.PreachFeedbackVO"
            parameterType="com.educiot.recruit.data.entity.query.preach.PreachFeedbackPageQuery">
        SELECT * FROM e_r_preach_feedback p left  join  e_r_v_student_public_relation vspr on p.student_public_relation_id = vspr.student_public_relation_id
            where p.preach_plan_id = #{param.preachPlanId}
        order by p.create_time DESC

    </select>
    <select id="detailByStudentPublicRelationIdAndPreachPlanId" resultType="com.educiot.recruit.data.entity.vo.preach.PreachFeedbackVO" >
        SELECT
	preach_feedback_id,
	preach_plan_id,
	student_public_relation_id,
	performance,
	feedback_content,
	creator_id,
	creator_name,
	create_time
FROM
	e_r_preach_feedback
WHERE
	( preach_plan_id = #{preachPlanId} AND student_public_relation_id = #{studentPublicRelationId} )
    </select>

    <select id="feedBackCount" resultType="com.educiot.recruit.data.entity.vo.preach.PreachFeedbackCountVO"
            parameterType="com.educiot.recruit.data.entity.query.preach.PreachFeedbackQuery">

  SELECT * FROM (
SELECT COUNT(1) amount,1 performance FROM e_r_preach_feedback WHERE performance  =1 and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),2 FROM e_r_preach_feedback WHERE performance  =2  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),3 FROM e_r_preach_feedback WHERE performance  =3  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),4 FROM e_r_preach_feedback WHERE performance  =4  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),5 FROM e_r_preach_feedback WHERE performance  =5  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1) ,1  FROM e_r_preach_summary WHERE performance  =1  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),2 FROM e_r_preach_summary WHERE performance  =2  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),3 FROM e_r_preach_summary WHERE performance  =3  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),4 FROM e_r_preach_summary WHERE performance  =4  and preach_plan_id =  #{param.preachPlanId}
UNION ALL
SELECT COUNT(1),5 FROM e_r_preach_summary WHERE performance  =5  and preach_plan_id =  #{param.preachPlanId}
)a GROUP BY a.performance
    </select></mapper>
