<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educiot.recruit.data.mapper.preach.PreachSchoolRelationMapper">
    <select id="listByPreachPlanId" parameterType="java.lang.Long"
            resultType="String">
select source_school_id from e_r_preach_school_relation where preach_plan_id = #{id}
    </select>
    <select id="listKeyValueByPreachPlanId" resultType="com.educiot.common.base.KeyValue">
SELECT CONCAT(ss.`source_school_id`,'')  `key`,ss.`source_school_name` `value` FROM e_r_preach_school_relation psr LEFT JOIN e_r_source_school ss ON psr.source_school_id = ss.`source_school_id` where psr.preach_plan_id = #{id}
    </select>
</mapper>
